
@import url("./src/assets/styles/layouts/utilities");

$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgb(0 0 0);

$utilities: map-merge (
  $utilities,
  (
    "cursor": (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    )
  )
);

$utilities: (
  "opacity": (
    property: opacity,
    class: opacity,
    state: hover,
    responsive: true,
    values: (
      0: 0,
      25: .25,
      50: .5,
      75: .75,
      100: 1,
    )
  )
);


