<footer class="mastfoot mt-auto text-center">
  <div class="flex justify-center">
    <div class="flex justify-center mb-8 mt-11 pt-3 pb-4">
      <a name="link" class="text-center" href="https://www.twitter.com" aria-hidden="true"><i class="bi bi-twitter-x"></i></a>
      <a name="link" class="text-center" href="https://www.facebook.com" aria-hidden="true"><i class="bi bi-facebook"></i></a>
      <a name="link" class="text-center" href="https://www.instagram.com" aria-hidden="true"><i class="bi bi-instagram"></i></a>
    </div>
    <span id="atribution" class="description">
      <small class="text-sm ">Atribution-NoComercial (CC BY-NC 4.0)</small>
    </span>
  </div>
</footer>