html,
body {
  height: auto;
  min-width: 100vw;
}

:root {
  --bs-maroon: #d2470f;
  --bs-orange: #ffc107;
}

.component {
  color: var(--bs-gray-800);
  background-color: var(--bs-gray-100);
  border: 1px solid var(--bs-gray-200);
  border-radius: .25rem;
}

.component-header {
  color: var(--bs-orange);
}

.btn {
  color: tint-color($primary, 10%);
}

.btn-group {
  color: shade-color($danger, 30%);
}

.btn-group:hover{
 text-decoration: underline;
}

.fst-italic{
  line-height: 0.4;
}

a:link {
  color: #d2470f;
}

.bi {
font-size: 1.8rem; 
color:black;
opacity: .8;
margin: 1rem;
}

.bi:hover {
color: #ffc107;
}

.block {
  height: 350px;
  background: rgba(86,61,124,.15);
}


/* ---------------------section1: portada ------------------------ */

.section1::after {
  content: "";;
  background-image: url(../images/tennis-portada_560.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-image:linear-gradient(to right,#d2470f 15%, transparent 100%), url(../images/tennis-portada_560.jpg); 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  object-fit: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex: 1;
}

.gradient-custom {
  /* Chrome 10-25, Safari 5.1-6 */
  background:-webkit-linear-gradient(to right,#d2470f 15%, transparent 100%)
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
linear-gradient(to right,#d2470f 15%, transparent 100%)
}

.subtitle{
	font-size: 0.9em;
	opacity: 0.65;
  line-height: 0.6;
}

/* ---------------------END section1: portada ------------------------ */
/*--------------------------------- cookies banner--------------------------------*/
#cb-cookie-banner { 
  position: fixed; 
  bottom: 0; 
  opacity: 0.9;
  left: 0; 
  width: 100%; 
  z-index: 999; 
  border-radius: 0; 
  display: none; 
} 

h6:hover {
  test-decoration: underline;
  background: orange;
}

#content {
  width: 200px;
  height: 200px;
  border: 1px solid #c3c3c3;
  display: -webkit-flex;
  -webkit-flex-direction: column-reverse;
  display: flex;
  flex-direction: column-reverse;
}

.scrolling-wrapper img {
height: 3rem;

}
.scrolling-wrapper {
 animation: slide 15s linear infinite;
}

.container-fluid {
  margin:0;
  width: 60vw;
  opacity: 0.8;
}

.scrolling-wrapper{
	overflow-x: auto;
}
/* ---------------------END cookies banner ------------------------ */
/* -------------------------------- página participantes (with grid) --------------------------------- */
.box {
  width: 50px;
  height: 50px;
}

.img:has(.people) {
  grid-row: 4;
  grid-column: 1 / -1;
  /*max-inline-size: 100%;*/
  grid-template-columns: 1fr 1fr;
  border-left-width: var(--size-4);
}

/*----------------------------- END section1 portada ---------------------------*/
/* --------------------------------------págnaa Nuestro equipo (with: flex) ------------------------------------------ */

.team-group{
  background-color: lch(82.105%, 55.717%, 80.583%);
  background-color: rgb(255,193,7);
}

#team {
	column-width: 320px;
	column-gap: 15px;
  width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

div#team figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

div#team figure img {
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#team figure figcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
}

div#team small { 
  font-size: 1rem;
  float: right; 
  text-transform: uppercase;
  color: #aaa;
} 

div#team small a { 
  color: #666; 
  text-decoration: none; 
  transition: .4s color;
}

div#cteam:hover figure:not(:hover) {
	opacity: 0.4;
}

@media screen and (max-width: 750px) { 
  #team { column-gap: 0px; }
  #team figure { width: 100%; }
}
/*--------------------------------- END página Nuestro equipo --------------------------------*/
/*--------------------------------- declaración de opacidad, queries,  --------------------------------*/
.o-0 { opacity: 0; }
.o-25 { opacity: .25; }
.o-50 { opacity: .5; }
.o-75 { opacity: .75; }
.o-100 { opacity: 1; }

.opacity-0-hover:hover { opacity: 0 !important; }
.opacity-25-hover:hover { opacity: .25 !important; }
.opacity-50-hover:hover { opacity: .5 !important; }
.opacity-75-hover:hover { opacity: .75 !important; }
.opacity-100-hover:hover { opacity: 1 !important; }
 
@media (min-width: 576px) {
  .section1::after {
    background-image: url(../images/tennis-portada_1280.jpg);
    background-image:linear-gradient(to right,#d2470f 15%, transparent 100%), url(../images/tennis-portada_1280.jpg); 
  }

  .opacity-sm-0 { opacity: 0 !important; }
  .opacity-sm-25 { opacity: .25 !important; }
  .opacity-sm-50 { opacity: .5 !important; }
  .opacity-sm-75 { opacity: .75 !important; }
  .opacity-sm-100 { opacity: 1 !important; }
}

@media (min-width: 768px) {
  .opacity-md-0 { opacity: 0 !important; }
  .opacity-md-25 { opacity: .25 !important; }
  .opacity-md-50 { opacity: .5 !important; }
  .opacity-md-75 { opacity: .75 !important; }
  .opacity-md-100 { opacity: 1 !important; }
}

@media (min-width: 992px) {
  .opacity-lg-0 { opacity: 0 !important; }
  .opacity-lg-25 { opacity: .25 !important; }
  .opacity-lg-50 { opacity: .5 !important; }
  .opacity-lg-75 { opacity: .75 !important; }
  .opacity-lg-100 { opacity: 1 !important; }
}

@media (min-width: 1200px) {
  .opacity-xl-0 { opacity: 0 !important; }
  .opacity-xl-25 { opacity: .25 !important; }
  .opacity-xl-50 { opacity: .5 !important; }
  .opacity-xl-75 { opacity: .75 !important; }
  .opacity-xl-100 { opacity: 1 !important; }
}

@media (min-width: 1400px) {
  .opacity-xxl-0 { opacity: 0 !important; }
  .opacity-xxl-25 { opacity: .25 !important; }
  .opacity-xxl-50 { opacity: .5 !important; }
  .opacity-xxl-75 { opacity: .75 !important; }
  .opacity-xxl-100 { opacity: 1 !important; }
}
/*--------------------------------- END declaraciones --------------------------------*/